body {
  background-color: #E1E2E1;
  font-family: "Mulish", sans-serif;
}

.barra{
  background: #718792;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 10%;
  position:fixed;
}
.menu {
  list-style: none;
  padding: 0;
  width: 106%;
  margin: -8px auto;
  margin-left: -5%;
  margin-right: -20%;
  text-align:right;
}

.formulario{
  position: absolute;
  top: 90%;
}

.lateral{
  background: #718792;
  width: 15%;
  height: 90%;
  left: 0%;
  top: 10%;
  position:absolute;
}

.menuh {
  list-style: none;
  text-align:left;
}
.menuh li a{
  text-decoration:none;
  color:white;
  padding: 10px;
  display:block;
}
.menu li a{
  text-decoration:none;
  color:white;
  padding: 20px;
  display:block;
}

.menu li{
  display:inline-block;
  text-align:center;
}
.posicion{
  position:fixed;
  left:5%;
  padding-top:-80%;
  margin: -15px auto;
}
.posicion2{
  position:absolute;
  top: 35%;
  left:65%;
}

.posicion3{
  position:absolute;
  top: 35%;
  right: 2%;
  float: right;
}


input[type=text]{
  width: 15%;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  position:fixed;
  left:49%;
  padding-top:-40%;
  margin: -50px auto;
  
}
.contenedor{
  position: absolute;
  top: 10%;
  left: 20%;
  width: 76%;
  display: flex;
}

.cartita{
  width: 100%;
  height: 70%;
  margin: 20px;
  border-radius: 10%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
}

.imagen{
  width: 295px;
  height: 200px;
}

.imagen img{
  width: 100%;
  height: 100%;
}

.texto{
  padding: 20px;
}

.nombre{
  top: -10px;
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
  padding: 10px;
  color: black;
  background-color: #fff176;
  border: none;
  border-radius: 50px;
  width: auto;
  display: block;
  margin: auto;
}

.btn:hover {
  background-color:#ffe600;
  color: white;
  cursor: pointer;
}
