
.background_logo{
	position: sticky;
	background-color: #718792;
	margin: -10px -50px 0px;
	height: 100px;
	width: 110%;

}

.b4ckground{
	background-color: #E1E2E1;
}
.position{
  	position: fixed;
  	margin: 25px auto;
  	left: 45%;
}
.box{
	background-color: white;
	border: 2px solid lightgray;
	border-radius: 12px;
	text-align: center;
	margin: 95px auto;
	width: 360px;
	height: 480px;

}
#center{
	font-size: 40px;
	width: 100%;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 50px;

}
#ubi{
	width: 260px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid black;
	border-radius: 18px;
    font-size: 15px;
    padding: 5px 20px 8px;
    margin-left: 28px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#ubi_1{
	width: 260px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid black;
	border-radius: 18px;
    font-size: 15px;
    padding: 5px 20px 8px;
    margin-left: 28px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#register_botton{
    border: 1px solid black;
    border-radius: 5px;
    margin: 1px 0px -10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    height: 25px;
}
.log_in{
	font-family: Arial, Helvetica, sans-serif;

	padding-top: 10px;
}
.log_in1 {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 50px;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}