*{
    margin: 0;
    box-sizing:border-box;
}


body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.menu {
  list-style: none;
  padding: 0;
  background: #718792;
  width:106%;
  margin: -8px auto;
  margin-left: -5%;
  margin-right: -20%;
  text-align:right;
  position: fixed;
  top: 0;
  left: 0;
}
.menuh {
  list-style: none;
  padding: 10px 0px 1000px;
  background: #718792;
  width:20%;
  margin: -8px auto;
  margin-left: -0.6%;
  text-align:left;
}
.menuh li a{
  text-decoration:none;
  color:white;
  padding: 10px;
  display:block;
}
.menu li a{
  text-decoration:none;
  color:white;
  padding: 20px;
  display:block;
}

.menu li{
  display:inline-block;
  text-align:center;
}
.posicion{
  position:fixed;
  left:5%;
  padding-top:-80%;
  margin: -15px auto;
}
.posicion2{
  position:fixed;
  left:65%;
}


input[type=text]{
  width: 15%;
  box-sizing: border-box;
  border: 2px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  position:fixed;
  left:49%;
  margin: -85px auto;
  
}

.compra{
    width: 200px;
    height: 200px;
}
.container{
    background-color: #F5DED9;
    margin: 50px 200px;
    padding: 40px;
    width: 80%;
    height: auto;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.descripcion{
    width: 60%;
    font-family: Verdana;
    padding: 0 100px;
    display: flex;
    text-align: left;
}
.precio{
    font-family: Verdana;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    
}
.total{
    display: flex;
    background-color: #F5DED9;
    padding: 10px 80px;
    width: 500px;
    height: auto;
    margin: 20px 50%;
    text-align: right;
    justify-content: space-between;
    border-radius: 5px;
}