body {
    font-family: "Mulish", sans-serif;
    margin: 0;
    background-color: #E1E2E1;
}

.header {
    width: 100%;
    height: 100px;
}

.header__box {
    background-color: #718792;
    width: 100%;
    height: 100px;
    padding-top: 1px;
}

.header__logo--img {
    width: 150px;
    height: 100px;
    display: block;
    margin: 4px auto 10px;
}   

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 30px;
    min-height: calc(50vh - 200px);
}

.login__container {
    background-color: white;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 10px;
    margin-top: 75px;
    padding: 0px 30px 10px;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container h2 {
    font-size: 40px;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.input {
    background-color: transparent;
    margin-bottom: 10px;
    padding: 0px 16px;
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    font-size: 16px;
}
.button {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px 0px 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 13px;
    height: 25px;
    outline: none;
    
}
.button a, .login__container--remember-me a {
    text-decoration: none;
    color: black;
}

.button a:hover, .login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--remember-me {
    display: flex;
    justify-content: space-between;
    margin: -2px 0px 10px;
    font-size: 12px;
}

.login__container--remember-me a {
    margin-top: 4px;
}

.login__container--register {
    font-size: 14px;
}

.login__container--register a {
    color: rgb(55, 147, 201);
}

.login__container--register a:hover {
    text-decoration: none;
}