{% extends "layout.html" %}
{% block content %}
    <h1>Agregar Producto</h1>
    <form action="{{ url_for('addbrand') }}" method="post">
        <input id="nombre" type="text" name="productname" placeholder="Nombre del Producto"><br>
		<input id="gmail" type="number" name="prize" placeholder="Precio del Producto"><br>
		<input id="password" type="number" name="discount" placeholder="Descuento"><br>
		<textarea id="" name="description" placeholder="Descripcion del producto"></textarea><br>
        <input type="file" name="image" id="">
        <br><br>
		<input id="" type="submit" value="Registrarse" id="boton">
    </form>
{%endblock content%}