<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // By default, submit button is disabled
            document.querySelector('#submit_register').disabled = true;

            // Enable button only if there is text in the input field

            document.querySelector('#form_register').onsubmit = () => {
                document.querySelector('#name').onkeyup = () => {
                    if (document.querySelector('#name').value.length > 2)
                        document.querySelector('#submit_register').disabled = false;
                    else
                        alert(`Elegiste un nombre muy corto, necesitas uno de más de 2 caracteres`);
                        document.querySelector('#submit_register').disabled = true;
                };
                document.querySelector('#gmail').onkeyup = () => {
                    if (document.querySelector('#gmail').value.length > 15)
                        document.querySelector('#submit_register').disabled = false;
                    else
                        alert(`Elegiste un gmail muy corto, necesitas uno de más de 15 caracteres`);
                        document.querySelector('#submit_register').disabled = true;
                };
                document.querySelector('#password').onkeyup = () => {
                    if (document.querySelector('#password').value.length > 7)
                        document.querySelector('#submit_register').disabled = false;
                    else
                        alert(`Tu contraseña es muy corta, necesitas una de más de 7 caracteres`);
                        document.querySelector('#submit_register').disabled = true;
                };

                document.querySelector('#s_pass').onkeyup = () => {
                    if (document.querySelector('#password').value == document.querySelector('#s_pass').value)
                        document.querySelector('#submit_register').disabled = false;
                    else
                        alert(`Confirma mejor tu contraseña`);
                        document.querySelector('#submit_register').disabled = true;
                };

                return false;
            };

        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // By default, submit button is disabled
            document.querySelector('#submit_login').disabled = true;

            document.querySelector('#gmail_login').onkeyup = () => {
                document.querySelector('#submit_login').disabled = false;
            };
            document.querySelector('#password_login').onkeyup = () => {
                document.querySelector('#submit_login').disabled = false;
            };

            document.querySelector('#submit_login').onsubmit = () => {

                // Clear input field and disable button again
                document.querySelector('#gmail_login').value = '';
                document.querySelector('#password_login').value = '';
                document.querySelector('#submit_login').disabled = true;

                // Stop form from submitting
                return false;
            };

        });
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleDeportes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesRegister.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesCar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesLogin.css') }}">
    <title>Amazon 2.0</title>
</head>
{% block content %}
<body>
{% for table in tables %}
            
    {{ table|safe }}
{% endfor %}
</body>
{% endblock %}
</html>