<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="./stylesLogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap" rel="stylesheet">
    <title>Inicio de Sesión</title>
    <meta content="width=device-width, initial-scale=1"name="viewport" />
</head>

<body>
    <head class="header">
        <div class="header__box">
            <img class="header__logo--img" src="./images/R.png">
        </div>
    </head>

    <section class="login">
        <section class = "login__container">
            <h2>Login</h2>
            <form class="login__container--form">
                <input class="input" type="text" placeholder="email">
                <input class="input" type="text" placeholder="contraseña">
                <button class="button"><a href="#">Iniciar sesión</a></button>
                <div class="login__container--remember-me">
                    <label>
                        <input type="checkbox" id="cbox1" value="checkbox"> Recuérdame
                    </label>
                    <a href="#">Olvidé mi contraseña</a>
                </div>
            </form>
            <p class="login__container--register">No tienes ninguna cuenta <a href="#">Registrate</a> </p>
        </section>
    </section>
</body>
</html>