{% extends "layout.html" %}
{% block content %}
<body class = "b4ckground">
	<div>
		<div class="background_logo">
			<img class="position" src="images/logo_a.png" width="200px">
		</div>
	</div>
	
	<div class ="box">
		<h1 id="center">Registrate</h1>
		{% with messages = get_flashed_messages(with_categories = true) %}
			{% if messages %}
				{% for category, message in messages %}
					{% if category == 'error' %}
					<div class="alert alert-danger alter-dismissable fade show">
						{{ message }}
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true"> &times;</span>
						</button>
					</div>
					{% else %}
					<div class="alert alert-success alter-dismissable fade show">
						{{ message }}
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true"> &times;</span>
						</button>
					</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}
		<form id="form_register" action="{{ url_for('signup') }}" method="post">
			<input id="name" id="ubi" type="text" name="username" placeholder="nombre de usuario"><br>
			<input id="gmail" id="ubi" type="email" name="email" placeholder="email"><br>
			<input id="password" id="ubi_1" type="password" name="password" placeholder="contraseña"><br>
			<input id="s_pass" id="ubi" type="password" name="s_password" placeholder="confirmar contraseña">
			<p class="error error--hidden"></p>
			<br><br>
			<input id="submit_register" type="submit" value="Registrarse" id="boton">
		</form>
		<p class="log_in">¿Ya tienes una cuenta? <a class="log_in1" href="{{ url_for('login') }}">Iniciar sesión</a></p>
	</div>


</body>
{% endblock %}
