{% extends "layout.html" %}
{% block content %}
  <body>
        <ul class="menu">
        <li><b href="#"><div class="loguito">
                  <img class="posicion" src="https://cdn.glitch.global/7917a7da-a823-4055-9a44-68d46f07e0ed/logo.png?v=1649200413762"  width="100" height="25">
              </div></b></li>
        <li><a href="#"><div class="posicion2">Buscador</div></a></li>
        <li><a href="#"><div class="posicion3">Carrito</div></a></li>
      </ul>
      <form>
        <input type="text" name="search" placeholder="¿Qué estás buscando?">
      </form>
    
      <section class="container">
          <div class="product">
              <img class="compra" src="../TiendaVirtual/images/laptop.png" alt="logo" >
          </div>
          <div class="descripcion">
              <div class="titulo">
                  <h1>
                        Laptop Acer Aspire 3 15.6" Intel Core i5 1035G1 8GB RAM 1TB + 128GB SSD 2GB Video
                  </h1>
                  <p>
                        Intel Core i5 1035G1 8GB RAM 1TB + 128GB SSD 2GB Video
                  </p>
              </div>
          </div>

          <div class="Precio">
              <h1>
                  Precio
              </h1>
              <p>
                    $ 100.40
              </p>
          </div>
      </section>

      <section class="container">
        <div class="product">
            <img class="compra" src="../TiendaVirtual/images/smartphone.png" alt="smartphone" >
        </div>
        <div class="descripcion">
            <div class="titulo">
                <h1>
                        Apple Iphone 11 
                </h1>
                <p>
                      64GB de RAM, Chip A13 bionic
                </p>
            </div>
        </div>

        <div class="Precio">
            <h1>
                Precio
            </h1>
            <p>
                  $ 100.40
            </p>
        </div>
    </section>
    <section class="container">
        <div class="product">
            <img class="compra" src="../TiendaVirtual/images/shoes.jpg" alt="shoe" >
        </div>
        <div class="descripcion">
            <div class="titulo">
                <h1>
                        Nike Kyrie 7
                </h1>
                <p>
                    Demuetras tus habilidades en la cancha de básquet con el estilo incomparable de Nike. Las zapatillas de básquet Kyrie 7 "Brooklyn Beats" rinden homenaje al legado musical de este barrio y a su participación en la cultura creativa. Los detalles de malla envuelven el pie para crear un ajuste cómodo y ceñido con el que aprovechar tu rapidez
                </p>
            </div>
        </div>

        <div class="Precio">
            <h1>
                Precio
            </h1>
            <p>
                  $ 100.40
            </p>
        </div>
    
    </section>

    <section class=" total">
        <h1>
            Total
        </h1>
        <p>
            $ 301.20
        </p>

        
    </section>
    
  </body>
{% endblock %}


